.container{
    background-color:rgb(240, 233, 233);
    width: 400px;
    text-align: center;
    width: 40%;


}

body{

    text-align: center;
}








































.img > span{
    text-align: center;
    font-size: 20px;
    align-items: center;
    align-content: center;
    position: relative;
    top: -5px;
    font

}